:root {
  --bg-1: #8685a2;
  --bg-2: #c1b9d3;
  --white: #ffffff;
  --gray: #ececf3;
  --purple: #411583;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Cantarell', 'Inter', system-ui;
  display: grid;
  place-items: center;
  background-color: var(--bg-2);
}

.mp3-player-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 350px;
  background-color: var(--white);
}

#art-box {
  background: url('imgs/lechuck.jpg');
  padding: 1em;
  display: flex;
  flex-direction: column;

  .playlist-icon {
    margin-left: auto;
    width: 275px;
    height: 275px;
  }

  .music-bars {
    display: flex;
    justify-content: space-between;

    p {
      color: white;
    }
  }

}

.controls-box {
  margin: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #a7a7a7;
  }

  .controls {
    margin: 2em 0;

    & button {
      border: none;
      background-color: transparent;
    }
  }
}

.status-box {
  text-align: center;
  color: #411583;
  background-color: #ececf3;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;

  progress {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: #411583;
  }

  progress::-moz-progress-bar {
    background: #411583;
  }
}

.music-bars {
  display: flex;
  justify-content: space-between;
  & p {
    color: white;
  }
}

.hidden {
  display: none;
}
